<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<% if not @beer_club.members.empty? %>
<p>
  <strong>Members:</strong>
  <ul>
  <% @beer_club.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
  </ul>
</p>
<% else %>
<p>
  This club doesn't have any members.
</p>
<% end %>

<% if not current_user.nil? %>
    <P>
    <% if @beer_club.members.include? current_user %>
        <td><%= link_to 'Leave', leave_beer_club_path(@beer_club), method: :patch %></td>
    <% else %>
        <td><%= link_to 'Join', join_beer_club_path(@beer_club), method: :patch %></td>
    <% end %>
    </P>
<% end %>




<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
