<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>

  </br>
  <strong>Amount of ratings:</strong>
  <%= @user.ratings.size %>

  </br>
  <strong>Average of ratings:</strong>
  <%= @user.average_rating %>
  </br>
  <strong>Favorite brewery:</strong>
  <%= @user.favorite_brewery %>

  </br>
  <strong>Favorite style:</strong>
  <%= @user.favorite_style %>
  </br>

  </br>
  <strong>List of ratings:</strong>
    <ul>
      <% @user.ratings.each do |rating| %>
          <% if !rating.beer.nil? %>
              <li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
          <% end %>
      <% end %>
    </ul>

    </br>
    <% if not @user.memberships.empty? %>
    <strong>Member of:</strong>
    <ul>
    <% @user.beer_clubs.each do |club| %>
        <li><%= link_to club.name, beer_club_path(club) %></li>
    <% end %>
    </ul>
    <% end %>
</p>

<% if current_user and current_user.admin == true %>
    <% if @user.ban is false %>
        <%= link_to 'Ban', ban_user_path(@user), class:'btn btn-primary' %>
    <% else %>
        <%= link_to 'UnBan', unban_user_path(@user), class:'btn btn-primary' %>
    <% end %>
<% end %>


<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %> |
<%= link_to 'Destroy', @user, method: :delete, class:'btn btn-danger', data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path, class:'btn btn-primary' %>
