<p id="notice"><%= notice %></p>

<h1>List of ratings</h1>

<p> Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
      <% if !rating.beer.nil? %>
      <li> <%= rating %> <% if not rating.user.nil? %> <%= link_to rating.user.username, rating.user %> <% end %> <% if rating.user == current_user %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %> </li>
      <% end %>
  <% end %>
</ul>

Orphans:

<ul>
  <% @ratings.each do |rating| %>
      <% if rating.beer.nil? %>
          <li> orphan <% if rating.user == current_user %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %> </li>
      <% end %>
  <% end %>
</ul>

<%= link_to 'New Rating', ratings_new_path %>